body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
button{
    background: none;
    /* color: #ffbe0b; */
    border: 2px solid /*#ffbe0b*/;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
button:hover{
    border-color: #9e0202;
    color: white;
    background-color: black;
    box-shadow:0 0.5em 0.5em -0.4em #9e0202;
    transform: translateY(-.25em);
    cursor: pointer;
}